openapi: 3.0.3
info:
  title: Insurance Fraud Detection API
  description: RESTful API for detecting fraudulent insurance claims using machine learning and rule-based detection
  version: 1.0.0
  contact:
    name: Fraud Detection Team
    email: fraud-detection@insurance.com
  license:
    name: Proprietary

servers:
  - url: https://api.fraud-detection.insurance.com/v1
    description: Production server
  - url: https://staging-api.fraud-detection.insurance.com/v1
    description: Staging server
  - url: http://localhost:8080/v1
    description: Development server

security:
  - apiKey: []
  - bearerAuth: []

paths:
  /claims/analyze:
    post:
      summary: Analyze single claim for fraud
      operationId: analyzeClaim
      tags:
        - Fraud Detection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimAnalysisRequest'
      responses:
        '200':
          description: Fraud analysis completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FraudAnalysisResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

  /claims/batch:
    post:
      summary: Batch process multiple claims
      operationId: batchAnalyzeClaims
      tags:
        - Batch Processing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAnalysisRequest'
      responses:
        '202':
          description: Batch processing accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchJobResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: Payload too large (max 10,000 claims)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /batch/{jobId}/status:
    get:
      summary: Get batch job status
      operationId: getBatchStatus
      tags:
        - Batch Processing
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /batch/{jobId}/results:
    get:
      summary: Get batch job results
      operationId: getBatchResults
      tags:
        - Batch Processing
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        '200':
          description: Batch results retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResultsResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /providers/{npi}/risk:
    get:
      summary: Get provider risk assessment
      operationId: getProviderRisk
      tags:
        - Provider Analysis
      parameters:
        - name: npi
          in: path
          required: true
          schema:
            type: string
            pattern: '^[0-9]{10}$'
      responses:
        '200':
          description: Provider risk assessment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderRiskResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /patterns:
    get:
      summary: List fraud detection patterns
      operationId: listPatterns
      tags:
        - Configuration
      parameters:
        - name: active
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: List of fraud patterns
          content:
            application/json:
              schema:
                type: object
                properties:
                  patterns:
                    type: array
                    items:
                      $ref: '#/components/schemas/FraudPattern'

  /patterns/{patternId}:
    put:
      summary: Update fraud pattern configuration
      operationId: updatePattern
      tags:
        - Configuration
      parameters:
        - name: patternId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FraudPattern'
      responses:
        '200':
          description: Pattern updated
        '404':
          $ref: '#/components/responses/NotFound'

  /health:
    get:
      summary: Health check endpoint
      operationId: healthCheck
      tags:
        - Monitoring
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, unhealthy]
                  version:
                    type: string
                  uptime:
                    type: integer
                  checks:
                    type: object

  /metrics:
    get:
      summary: Get service metrics
      operationId: getMetrics
      tags:
        - Monitoring
      responses:
        '200':
          description: Service metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ClaimAnalysisRequest:
      type: object
      required:
        - claim
        - context
      properties:
        claim:
          $ref: '#/components/schemas/Claim'
        context:
          type: object
          properties:
            priority:
              type: string
              enum: [low, medium, high, urgent]
              default: medium
            includeDetails:
              type: boolean
              default: false
            thresholds:
              type: object
              properties:
                minConfidence:
                  type: number
                  minimum: 0
                  maximum: 1
                  default: 0.5

    Claim:
      type: object
      required:
        - claim_id
        - patient_id
        - provider_npi
        - service_date
        - billed_amount
      properties:
        claim_id:
          type: string
        patient_id:
          type: string
        provider_npi:
          type: string
          pattern: '^[0-9]{10}$'
        service_date:
          type: string
          format: date
        submission_date:
          type: string
          format: date-time
        diagnosis_codes:
          type: array
          items:
            type: string
            pattern: '^[A-Z][0-9]{2}(\.[0-9]{1,4})?$'
        procedure_codes:
          type: array
          items:
            type: string
        billed_amount:
          type: number
          minimum: 0
        paid_amount:
          type: number
          minimum: 0
        service_location:
          type: object
          properties:
            facility_id:
              type: string
            zip_code:
              type: string
            state:
              type: string
        modifiers:
          type: array
          items:
            type: string

    FraudAnalysisResponse:
      type: object
      properties:
        claim_id:
          type: string
        fraud_score:
          type: number
          minimum: 0
          maximum: 1
        fraud_likelihood:
          type: string
          enum: [very_low, low, medium, high, very_high]
        is_fraudulent:
          type: boolean
        confidence:
          type: number
          minimum: 0
          maximum: 1
        detected_patterns:
          type: array
          items:
            $ref: '#/components/schemas/DetectedPattern'
        red_flags:
          type: array
          items:
            $ref: '#/components/schemas/RedFlag'
        recommendation:
          type: string
          enum: [approve, review, investigate, deny]
        processing_time_ms:
          type: integer

    DetectedPattern:
      type: object
      properties:
        pattern_id:
          type: string
        pattern_name:
          type: string
        confidence:
          type: number
        evidence:
          type: array
          items:
            type: string

    RedFlag:
      type: object
      properties:
        flag_id:
          type: string
        description:
          type: string
        severity:
          type: string
          enum: [low, medium, high, critical]
        category:
          type: string

    BatchAnalysisRequest:
      type: object
      required:
        - claims
      properties:
        claims:
          type: array
          minItems: 1
          maxItems: 10000
          items:
            $ref: '#/components/schemas/Claim'
        callback_url:
          type: string
          format: uri
        processing_priority:
          type: string
          enum: [standard, expedited]
          default: standard

    BatchJobResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, processing, completed, failed]
        total_claims:
          type: integer
        estimated_completion_time:
          type: string
          format: date-time
        status_url:
          type: string
          format: uri
        results_url:
          type: string
          format: uri

    BatchStatusResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, processing, completed, failed]
        progress:
          type: object
          properties:
            processed:
              type: integer
            total:
              type: integer
            percentage:
              type: number
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        error:
          type: string

    BatchResultsResponse:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        results:
          type: array
          items:
            $ref: '#/components/schemas/FraudAnalysisResponse'
        summary:
          type: object
          properties:
            total_claims:
              type: integer
            fraudulent_claims:
              type: integer
            fraud_rate:
              type: number
            total_amount_flagged:
              type: number
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total_pages:
              type: integer
            total_items:
              type: integer

    ProviderRiskResponse:
      type: object
      properties:
        provider_npi:
          type: string
        risk_score:
          type: number
          minimum: 0
          maximum: 100
        risk_level:
          type: string
          enum: [low, medium, high, critical]
        fraud_indicators:
          type: array
          items:
            type: object
            properties:
              indicator:
                type: string
              value:
                type: number
              threshold:
                type: number
        historical_stats:
          type: object
          properties:
            total_claims:
              type: integer
            flagged_claims:
              type: integer
            confirmed_frauds:
              type: integer
            average_claim_amount:
              type: number
        peer_comparison:
          type: object
          properties:
            percentile:
              type: number
            peer_group:
              type: string
            deviation_score:
              type: number

    FraudPattern:
      type: object
      properties:
        pattern_id:
          type: string
        pattern_name:
          type: string
        pattern_type:
          type: string
          enum: [upcoding, phantom_billing, unbundling, staged_accident, prescription_fraud, kickback, network_fraud]
        active:
          type: boolean
        rules:
          type: array
          items:
            type: object
        threshold:
          type: number
        weight:
          type: number

    MetricsResponse:
      type: object
      properties:
        requests_per_second:
          type: number
        average_latency_ms:
          type: number
        p95_latency_ms:
          type: number
        p99_latency_ms:
          type: number
        fraud_detection_rate:
          type: number
        false_positive_rate:
          type: number
        true_positive_rate:
          type: number
        claims_processed_today:
          type: integer
        amount_flagged_today:
          type: number

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
            timestamp:
              type: string
              format: date-time

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    RateLimitExceeded:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

tags:
  - name: Fraud Detection
    description: Real-time fraud analysis operations
  - name: Batch Processing
    description: High-volume batch processing operations
  - name: Provider Analysis
    description: Provider risk assessment and monitoring
  - name: Configuration
    description: Fraud pattern configuration management
  - name: Monitoring
    description: Health checks and metrics